# Folder & file Laravel yang harus diabaikan
backend/.env
backend/node_modules/
backend/vendor/
backend/bootstrap/cache/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*

# File environment dan build tools umum
.env
.env.production
.DS_Store
Thumbs.db
node_modules/
dist/
.phpunit.result.cache
